body {
  background-color: #d3d3d3;
}

.box {
  margin: 5rem 5rem 1rem 5rem;
  border-radius: 40px;
  background-color: #456789;
  border: 5px orange solid;
  height: 80vh;
}

h2 {
  margin-left: 2rem;
  color: #ff0;
  font-style: italic;
  font-size: 5rem;
}

.columnbox {
  display: flex;
  gap: 2rem;
}

.column1 {
  flex: 0.5;
  height: 5rem;
}

.column2 {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  height: 5rem;
  gap: 3rem;
}

.row {
  margin-left: 2rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 1rem;
  background-color: #444;
}

.row > button {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 1rem;
  border: 4px double #ccc;
  color: #eee;
  text-align: center;
  font-size: 1rem;
  padding: 0.2rem;
  width: 8rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.row > button:hover {
  background-color: orange;
  transform: rotate(-2deg);
}

.row > button:active {
  background-color: cyan;
  transform: rotate(2deg);
}

.recentscore {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.addscore {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #23a;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

#form > input {
  width: 15rem;
  height: 2rem;
  border-radius: 8px;
}

#form > button {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #ccc;
  color: #eee;
  text-align: center;
  font-size: 1rem;
  padding: 2px;
  width: 8rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.5rem;
}

#form > button:hover {
  background-color: orange;
  transform: rotate(2deg);
}

#form > button:active {
  background-color: cyan;
  transform: rotate(-2deg);
}

.container {
  margin-left: 2rem;
  margin-top: 1rem;
  background-color: #010101;
  border: 2px solid #00f;
  border-radius: 24px;
  overflow-y: scroll;
  height: 28rem;
}

.namescore {
  margin: 20px;
  font-size: 30px;
  height: auto;
  color: blue;
}

.namescore:nth-child(even) {
  padding-right: 0;
  font-size: 30px;
  background-color: #00f;
  color: #000;
}
