body {
  background-color: #d3d3d3;
}

.box {
  margin: 100px 100px auto 100px;
  border-radius: 40px;
  background-color: #fff;
  border: 5px #d1d1d1 solid;
}

h2 {
  margin-left: 20px;
  color: #000;
  font-size: 60px;
}

.columnbox {
  display: flex;
  gap: 20px;
}

.column1 {
  flex: 0.5;
  height: 500px;
}

.column2 {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  height: 500px;
  gap: 30px;
}

.row {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row > button {
  background-color: #d2d2d2;
  border-radius: 4px;
}

.recentscore {
  font-size: 32px;
}

.addscore {
  text-align: center;
  font-size: 32px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#form > input {
  width: 200px;
  height: 30px;
  border-radius: 8px;
}

#form > button {
  margin: 0 auto;
  background-color: #d2d2d2;
  border-radius: 4px;
}

.container {
  margin-left: 50px;
  background-color: #e8fcee;
  border: 2px solid blue;
  border-radius: 24px;
  overflow-y: scroll;
  height: 450px;
}

.namescore {
  margin: 20px;
  font-size: 30px;
  height: auto;
}

.namescore:nth-child(even) {
  padding-right: 0;
  font-size: 30px;
  background-color: #d3d3d3;
}
